version: '3.7'

services:
  db:
    image: mysql:latest
    restart: always
    container_name: florilege_db
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: florilege_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - mysql_data:/var/lib/mysql
      - ./database:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    container_name: florilege_adminer
    depends_on:
      - db
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "8080:80"

volumes:
  mysql_data:
